.editor-note {
  color: red;
  border: 1px solid black;
  width: 500px;
}

html {
  font-size: 24px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Nunito', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: black;
  color: white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size:60px;
  /*text-align: center;*/
  /*text-shadow: 20px 20px 5px black;*/
}

h2 {
  font-size:50px;
  text-align: center;
}

h3 {
  font-size:40px;
  text-align: center;
}

h4 {
  font-size:30px;
  text-align: center;
}

#myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(127, 127, 127, .4);
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
  text-align: center;
}

ul {
    text-align: left;
    list-style-position: inside;
}